<!-- Footer Component -->
<footer>
    <div class="footer-container">
        <div class="footer-column">
            <h3>Quick Links</h3>
            <div class="footer-heading-line"></div>
            <ul>
                <li><a href="/pages/employee-gallery/employee_gallery.html">Employee Gallery</a></li>
                <li><a href="/pages/downloads/downloads.html">Downloads</a></li>
                <li><a href="/pages/bank-details/bank_details.html">Bank Details for Online Payments</a></li>
                <li><a href="/pages/faq/faq.html">FAQ (प्रश्नोत्तर)</a></li>
                <li><a href="/pages/privacy-policy/privacy-policy.html">Privacy Policy & Terms</a></li>
            </ul>
        </div>
        <div class="footer-column">
            <h3>Important Links</h3>
            <div class="footer-heading-line"></div>
            <ul>
                <li><a href="https://deoc.gov.np/">DEOC</a></li>
                <li><a href="https://mocat.lumbini.gov.np/en/">Ministry Cooperatives (Lumbini Pradesh)</a></li>
                <li><a href="https://www.mof.gov.np/">MOF</a></li>
                <li><a href="https://www.nrb.org.np/">NRB</a></li>
                <li><a href="https://elibrary.ncbl.coop/">Ncbl Library</a></li>
                <li><a href="https://ncbl.coop/">Ncbl Website</a></li>
            </ul>
        </div>
        <div class="footer-column">
            <h3>Office Hours</h3>
            <div class="footer-heading-line"></div>
            <ul>
                <li>Sunday-Thursday : 10AM - 5PM</li>
                <li>Friday : 10AM - 3PM</li>
                <li>Saturday : Holiday</li>
                <li>Goverment Holiday : Holiday</li>
            </ul>
        </div>
        <div class="footer-column">
            <h3>Contact</h3>
            <div class="footer-heading-line"></div>
            <ul>
                <li><a href="tel:+977-985-8026766">📞 985-8026766</a></li>
                <li><a href="maito:saccospragati@gmail.com">✉️ saccospragati@gmail.com</a></li>
                <li><i class="fa-solid fa-location-dot footer-location-icon"></i> Thakurbaba municipality -3 Bagnaha,Bardiya, Bardiya, Nepal</li>
                <li><a href="https://www.facebook.com/pragatisaving"><i class="fa-brands fa-facebook footer-facebook-icon"></i> follow us in facebook page</a></li>
            </ul>
        </div>
    </div>
    <div class="footer-bottom">
        <p>&copy; 2024 <strong>Pragati SACCOS</strong>. All rights reserved. Develop by <a href="https://www.udayrajchaudhary.com.np/"> <strong>Uday Tharu</strong></a></p>
    </div>
</footer>

<!-- Go to Top Button -->
<button class="go-to-top" aria-label="Go to top">
    <i class="fa fa-arrow-up" aria-hidden="true"></i>
</button> 